body {
    font-family: sans-serif;
    color: red;
    background-color: gray;
    background: url("https://m.media-amazon.com/images/M/MV5BMjEzNDY1OTQwOV5BMl5BanBnXkFtZTcwNjcxMTIzMw@@._V1_FMjpg_UX1000_.jpg") no-repeat center center fixed; 
    background-repeat: no-repeat;
    background-size:45%;
    text-align: center;
}

button {
    background-color: black;
    color: white;
    border: none;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 10px;
}

p {
    width: 50%;
}